<!DOCTYPE html>
<html>
<head>
  <title>Mytube</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
<li><%=link_to "Index", videodbs_url %></li>
<li><%=link_to "Add a New Picture", video_new_url %></li>

</ul>


<%= yield %>

</body>
</html>
